.git
.gitignore
.pytest_cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.log
*.mp4
*.jpg
*.jpeg
*.png
*.pem
*.key
*.csv
.env
.venv/
venv/
build/
dist/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
tests/
firmware/
